@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
.generation_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.selector {
  display: flex;
  flex-direction: row;
}
.searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 8%;
  font-family: "Montserrat", sans-serif;
}
.inputpromptbox {
  width: 60%;
  border: 2px solid #d9d9d9 !important;
}
input::placeholder {
  font-size: 25px;
  color: #d9d9d9;
  padding: 5%;
}
input:focus {
  border: 2px solid #d9d9d9 !important;
}
.dallebtn {
  background-color: #214ea6;
  width: 200px;
  color: #fff;
  font-size: 25px;
  border: none;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.down {
  width: 60px;
  height: 100%;
  flex-direction: row;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  padding: 6%;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

input[type="text"] {
  font-size: 25px;
}
.display_images {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin-top: 2%;
}
.gen_btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 6.8% 0 0;
}
.img-thumbnail {
  border: none;
}
.generate_btn {
  height: 60px;
  width: 200px;
  border: none;
  font-size: 25px;
  background-color: #214ea6;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.promp {
  width: 60%;
  padding: 2%;
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.images {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
}
.buttons_gen {
  width: 60%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  padding-bottom: 10%;
}
.box1,
.box2 {
  width: 45%;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #214ea6;
  border: none;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1290px) {
  .buttons_gen {
    width: 70%;
  }
  .gen_btn {
    padding: 0 5% 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .buttons_gen {
    width: 70%;
  }
  .gen_btn {
    padding: 0 4% 0 0;
    margin-top: 3%;
  }
  .promp {
    margin-top: 4%;
  }
  .images {
    margin-top: 2%;
  }
  .display_images {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .inputpromptbox {
    width: 50%;
  }
  .gen_btn {
    padding: 0 10% 0 0;
  }
  .promp {
    width: 70%;
  }
  .buttons_gen {
    width: 95%;
  }
  .box1,
  .box2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .inputpromptbox {
    width: 50%;
  }
  input[type="text"] {
    font-size: 20px;
  }
  .dallebtn {
    background-color: #214ea6;
    width: 150px;
    font-size: 20px;
  }
  .down {
    width: 55px;
    font-size: 30px;
  }
  .gen_btn {
    padding: 0 13% 0 0;
  }
  .generate_btn {
    width: 150px;
  }
  .promp {
    width: 90%;
  }
  .img_cont {
    width: 50%;
  }
}
@media screen and (max-width: 426px) {
  .searchbar {
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 10%;
    align-items: center;
  }
  .inputpromptbox {
    width: 80%;
    height: 60px;
  }
  .dallebtn {
    width: 200px;
    height: 55px;
    font-size: 25px;
  }
  .down {
    width: 55px;
    height: 55px;
    padding: 6%;
    font-size: 25px;
  }
  .selector {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 10%;
  }
  .generate_btn {
    height: 60px;
    width: 200px;
    font-size: 20px;
  }
  .gen_btn {
    justify-content: center;
    margin-left: 13%;
  }
  .promp {
    display: none;
  }
  .images {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 5%;
  }
  .img_cont {
    width: 80%;
    margin-top: 5%;
  }
  .images {
    width: 100%;
  }
  .display_images {
    width: 100%;
  }
  .buttons_gen {
    width: 100%;
    height: 250px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 20%;
  }
  .box1,
  .box2 {
    width: 65%;
  }
}
@media screen and (max-width: 376px) {
  .box1,.box2{
    width: 70%;
  }
}
@media screen and (max-width: 320px) {
  input[type="text"] {
    font-size: 20px;
  }
  input::placeholder{
    font-size: 20px;
    padding: 5%;
  }
  .selector {
    width: 200px;
    background-color: red;
  }
  .generate_btn{
    width: 200px;
  }
  .box1,.box2{
    width: 80%;
  }
  .buttons_gen {
    margin-top: 10%;
  }
}