.home_logo {
  display: none;
}
.home_logo_img1{
  width: 100%;
  height: 40px !important;
}
.home_logo_img {
  height: 40px !important;
  margin-left: 12%;
}
.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.right_container {
  background: linear-gradient(180deg, #214ea6 0%, #29a1e4 32.08%);
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email_input:focus {
  outline: none !important;
  border: none !important;
  border-bottom: 4px solid #214ea6 !important;
}
.left_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.bg_img {
  width: 70%;
  height: 75%;
}
.logo_img_login {
  width: 219px !important;
  height: 76px !important;
  margin-top: 2%;
}
.container_login {
  width: 470px !important;
}
.container_forgot {
  width: 486px !important;
}
h3,
.h3 {
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
}
.create_account {
  display: flex;
  flex-direction: row;
  font-style: normal;
  justify-content: left;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}
.create_account1 {
  display: flex;
  flex-direction: row;
  font-style: normal;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  opacity: 0.7;
}
.new_user {
  color: #000;
  opacity: 0.6;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.new_user1 {
  width: 60%;
}
.send_mail {
  width: 100% !important;
  margin-top: 0 !important;
}
.h3 {
  text-align: center;
  width: 100%;
  font-size: 48px;
}
.creator {
  color: #000;
  opacity: 0.6;
  font-size: 20px;
  text-align: center;
}
.creator1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_link {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  width: 60%;
}
.create_link1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
.create {
  text-decoration: none;
  cursor: pointer;
  margin-left: 2%;
  color: #214ea6;
}
.FLname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input_box,
.input_box1 {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.input_box1 {
  margin-top: 10%;
}
.input_box_3 {
  margin-top: 10%;
}
.input_box_h {
  width: 45%;
}
.input::placeholder {
  text-transform: uppercase;
}
.email_label {
  font-size: 20px;
  color: #000000;
  opacity: 0.6;
  font-style: normal;
  font-weight: 600;
}
.email_input {
  border: none;
  opacity: 0.6;
  border-bottom: 2px solid #000000;
  font-size: 20px;
  margin-top: 1%;
}
input:focus {
  opacity: 1;
  outline: none;
  border-bottom: 4px solid #214ea6;
}
label:has(+ input:focus) {
  color: #214ea6;
  opacity: 1;
}
.eye {
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-left: 94%;
  margin-top: -6%;
  z-index: 100;
}
.fa-eye {
  color: #214ea6;
}
.remember {
  color: #214ea6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.checkmark {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.remember_me {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  justify-content: space-between;
  font-weight: 500;
  width: 180px;
  color: #000;
  margin: 0;
}
.forgot {
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: #214ea6;
}
.login_btn {
  width: 100% !important;
  height: 60px;
  margin-top: 10%;
  border: none;
  background-color: #214ea6;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.signup_btn {
  margin-top: 15%;
}
.google_btn {
  text-decoration: none;
  width: 100%;
  height: 60px;
  margin-top: 6%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.google_btn:hover {
  color: #000000;
}
.google_img {
  margin-right: 2%;
  width: 25px;
  height: 24px;
}

.or_container {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  justify-content: space-evenly;
  align-items: center;
}
.line {
  color: #000;
  opacity: 0.1;
  width: 40%;
  height: 2px;
  border: 2px solid #000000;
}
.or_text {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  opacity: 0.5;
  margin: 0;
}
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.buttons_signup3 {
  display: flex;
  flex-direction: row;
  margin-top: 30%;
}
.buttons_signup_forgot {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  height: 100px;
  justify-content: space-between;
}
.forgot_text {
  text-align: center;
}
.submit_btn {
  width: 240px;
  height: 60px;
  margin-top: 10%;
  border: none;
  /* border-radius: 2px; */
  background-color: #214ea6;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.skip_btn {
  background-color: transparent;
  color: #214ea6;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}
@media screen and (max-width: 1140px) {
  .container_login {
    width: 420px !important;
  }
}
@media screen and (max-width: 1024px) {
  .container_login {
    width: 350px !important;
    /* background-color: red; */
  }
  .forgot_title {
    font-size: 40px;
  }
  .container_forgot {
    width: 450px !important;
  }
  .buttons_signup3 {
    margin-top: 20%;
  }
  .forgot,
  .remember_me {
    font-size: 18px;
  }
  .fa-eye-slash,.fa-eye {
    margin-top: -8%;
  }
  .checkmark {
    width: 16px;
    height: 16px;
  }
  .remember_me {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  .container_login {
    width: 350px !important;
  }
  .container_forgot {
    width: 450px !important;
  }
  .container_login1 {
    width: 300px !important;
  }
  .container_signup2 {
    width: 300px !important;
  }
  .new_user1 {
    font-size: 18px;
  }
  .buttons_signup3 {
    margin-top: 15%;
  }
  .h3 {
    font-size: 40px;
  }
  .create {
    font-size: 18px;
  }
  .right_container {
    width: 40%;
  }
  .left_container {
    width: 60%;
  }
  .bg_img {
    width: 90%;
    height: 70%;
  }
  .fa-eye-slash ,.fa-eye{
    margin-left: 90%;
  }
}
@media screen and (max-width: 540px) {
  .forgot_title {
    font-size: 35px;
  }
  .buttons_signup_forgot {
    height: 100px;
  }
  .create_account1 {
    width: 400px;
  }
}
@media screen and (max-width: 650px) {
  .right_container {
    display: none;
  }
  .left_container {
    width: 70%;
  }
  .home_logo {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .home_logo {
    display: flex;
    height: 60px !important;
    align-items: end;
  }
  .home_logo_img {
    height: 50%;
    margin-left: 12%;
  }
  .container_forgot {
    width: 340px !important;
  }
  .left_container {
    width: 75%;
  }
  .forgot,
  .remember_me {
    font-size: 16px;
  }
  .remember_me {
    width: 140px;
  }
  .eye {
    margin-top: -8%;
  }
  .h3 {
    font-size: 36px;
  }
  .create_link1 {
    margin-top: 10%;
  }
  .create_account1 {
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .container_signup3 {
    width: 300px !important;
  }
  .forgot_title {
    font-size: 30px !important;
  }
  .forgot_text {
    font-size: 16px !important;
  }
  .create_account1 {
    width: 300px;
  }
  .eye {
    margin-top: -10%;
  }
  .h3 {
    font-size: 30px;
  }
  h3 {
    font-size: 40px !important;
  }
  .creator,
  .email_label {
    font-size: 18px;
  }
  .google_btn {
    font-size: 18px;
  }
  .new_user,
  .create {
    font-size: 16px;
    margin: 0;
  }
  .input_box,
  .input_box1 {
    margin-top: 12%;
  }
  .forgot,
  .remember_me {
    font-size: 14px;
  }
  .remember {
    margin-top: 10%;
  }
  .create_account {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .remember_me {
    width: 130px;
  }
  .submit_btn {
    font-size: 20px;
    height: 50px;
  }
}
@media screen and (max-width: 345px) {
  .left_container {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .forgot_title {
    font-size: 25px !important;
  }
  .forgot_text {
    font-size: 16px !important;
  }
  .creator1 {
    font-size: 18px;
  }
  .create_account1 {
    width: 260px;
  }
  .left_container {
    width: 85% !important;
  }
  .h3 {
    font-size: 25px;
  }
  .become {
    font-size: 25px !important;
  }
  .login_btn {
    margin-top: 25%;
  }
  .container_signup2 {
    width: 260px !important;
  }
  .create_link {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .container_signup3 {
    width: 270px !important;
  }
  .create_link1 {
    margin-top: 15%;
  }
  .home_logo_img {
    margin-left: 8%;
  }
}
