* {
  font-family: "Montserrat", sans-serif;
}
.navigation {
  width: 100%;
  height: 60px;
  background: #fffcfc;
  flex-direction: row;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  margin-left: 5%;
}
.right_nav{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
}
.nav-menu{
  font-size: 0px;
  cursor: pointer;
}
.logo_img {
  width: 60px !important;
  height: 50px !important;
  margin-top: 5px !important;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 100%;
  justify-content: space-around;
}
a{
  text-decoration: none;
}
.nav-link{
  display: flex;
  width: 100%;
  justify-content: center;
}
ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.nav-link{
  text-decoration: none;
  color: #000;
}
.nav-link:hover{
  color: #000;
}
.active {
  color: #214ea6;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 50px;
  margin-right: 5%;
}
.menu-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.menu-list li{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.menu-list{
  padding: 0;
  width: 50%;
}
.menu-display{
  background: #fffcfc;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  ul li a{
    font-size: 20px;
  }
  .circle{
    width: 50px;
    height: 50px;
  }
  .logo_img {
    width: 60px !important;
    height: 50px !important;
    margin-top: 8px !important;
  }
  .list{
    display: none;
  }
  .right_nav{
    margin-right: 2%;
    width: 110px !important;
  }
  .nav-menu{
    font-size: 28px;
  }
  ul li a {
    font-size: 25px;
  }
}

@media screen and (max-width: 426px) {
  .logo_img{
    width: 55px !important;
    height: 45px !important;
  }
  .circle{
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 375px) {
  .logo_img{
    width: 50px !important;
    height: 40px !important;
    margin-top: 10px !important;
  }
  .nav-menu{
    font-size: 25px;
  }
}